@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f5;
}

@layer utilities {
  .animate-slide-up {
    animation: slide-up 0.7s ease-out;
  }
  .animate-slide-right {
    animation: slide-right 0.7s ease-out;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
